.Option {
  display: flex;
  width: 20rem;
  margin: 1rem auto;
  height: 24px;
  /* background-color: grey; */
  justify-content: space-evenly;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
}

.Option input {
  flex: 0 0 83%;
  border: none;
}

.Option input:focus {
  outline: none;
}

.Tool {
  flex: 1;
  border-left: 1px solid #ccc;
  background-color: white;
}

.Tool span {
  cursor: pointer;
  padding: 5px;
  align-items: center;
  color: rgb(252, 164, 0);
  font-size: 1rem;
}
