.Question {
  display: flex;
  width: 20rem;
  height: 24px;
  margin: 2rem auto;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
}

.Question input {
  flex: 0 0 90%;
  border: none;
}

.Question input:focus {
  outline: none;
}

.Question span {
  background-color: #ccc;
  flex: 1;
}
